/.env
/create_mqtt_password.ps1
/create_mqtt_password.sh
/test_http_api.py
/test_mqtt_client.py
/test_http_data_retrieval.py
/venv
/__pycache__
mosquitto/data/mosquitto.db
mosquitto/log/mosquitto.log
data.db
*.log
*.db
*.db-journal
logs/
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
